{% extends 'Admin.html' %}
{% block title %}Список категорий | {{ parent() }}{% endblock title %}
{% block content %}
<div class="container">
    <h1>Список категорий</h1>
    <a href="/admin/categories/add.html" class="btn btn-sm btn-success pull-right">
        Добавить категорию
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Категория</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="border: 1px solid #DDDDDD">
            {% for cat in cats %}
            <tr>
                <td>
                    {% if cat.__lvl == 0 %}
                    <span style="font-weight: bold">{{ cat.title }}</span>
                    {% elseif cat.__lvl == 1 %}
                    <span style="margin-left: 20px">{{ cat.title }}</span>
                    {% elseif cat.__lvl == 2 %}
                    <span style="margin-left: 40px; font-weight: lighter">{{ cat.title }}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="pull-right">
                        <a href="/admin/categories/edit.html?id={{ cat.pk }}" class="btn btn-xs btn-primary">
                            Редактировать
                        </a>
                        <a href="/admin/categories/delete.html?id={{ cat.pk }}" class="btn btn-xs btn-danger">
                            Удалить
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}