{% extends 'Admin.html' %}
{% block title %}Форма редактирования категории | {{ parent() }}{% endblock title %}
{% block content %}
<div class="container">
    <div style="width: 65%; margin: 0 auto;">
        <h1>Форма редактирования категории</h1>
    </div>
    {% for error in errors %}
    <div class="alert alert-danger col-sm-10 col-sm-offset-2">
        {{ error.message }}
    </div>
    {% endfor %}
    <form class="form-horizontal" method="post" action="/admin/categories/edit.html">
        <input type="hidden" id="id" name="cat[pk]" value="{{ cat.pk }}">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Категория</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="cat[title]" value="{{ cat.title }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="/admin/categories.html" class="btn btn-default">Отменить</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}